.bottom-list {
  margin: 200px 0;
  position: relative;
}
.bottom-list div {
  padding: 20px 0;
}
.bottom-list div a,
.bottom-list div p {
  position: relative;
  font-size: 4em;
  text-decoration: none;
  color: black;
}
.bottom-list .small-text {
  margin-bottom: 100px;
}
.top {
  border-top: 1px solid #c7c7c7;
}
.middle {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.light {
  font-family: "Gilda Display", serif;
}

.hover-container {
  position: relative;
}
.hover-container:hover a {
  z-index: 4;
}
.hover-container:hover .hover-img {
  opacity: 1;
}

.hover-img {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  width: 500px;
  height: 500px;
  transition: opacity 0.9s, left 0.2s linear, top 0.2s linear;
  z-index: 2;
  transform: translate(-15%, -12%);
}

@media (max-width: 730px) {
  .bottom-list div a,
  .bottom-list div p {
    font-size: 14vw;
  }
}
