nav,
.mobile-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 100%;
  max-width: 1220px;
  padding: 10px 0;
  padding-right: 15px;
}
.pc-nav-container {
  width: 100vw;
  background-color: #f4f4f4;
}
.animate-nav {
  animation: show 1s 0.2s 1 ease-in;
}
.logo {
  flex-basis: 70px;
  margin-left: 40px;
}
.logo img {
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  font-size: 1.2rem;
}
.mobile-nav-icon {
  display: none;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .links {
    display: none;
  }
  .mobile-nav-icon {
    display: block;
  }
  .pc-nav {
    padding: 10px 0;
  }
}
.links a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
/*--- Nav transation ---*/
.deconstructed {
  position: relative;
  height: 1em;
  overflow: hidden;
  color: transparent;
  font-family: "Cambay", sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}
nav a {
  padding-bottom: 10px;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
}
.deconstructed:hover > div:nth-child(1) {
  animation: deconstructed1 2s 1;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
}
.deconstructed:hover > div:nth-child(2) {
  animation: deconstructed2 2s 1;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
}
.deconstructed:hover > div:nth-child(3) {
  animation: deconstructed3 2s 1;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
}
.deconstructed:hover > div:nth-child(4) {
  animation: deconstructed4 2s 1;
}

@keyframes deconstructed1 {
  0% {
    transform: translateY(-100%);
  }
  26% {
    transform: translateY(0%);
  }
  83% {
    transform: translateY(-0.1%);
  }
  100% {
    transform: translateY(120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateY(-100%);
  }
  24% {
    transform: translateY(0.5%);
  }
  82% {
    transform: translateY(-0.2%);
  }
  100% {
    transform: translateY(125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateY(-100%);
  }
  22% {
    transform: translateY(0%);
  }
  81% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(135%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mobile-nav {
  padding: 10px 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -9;
  background-color: #222222;
  opacity: 0;
  transition: all 200ms linear;
  top: 0;
}
.mobile-nav-exit {
  margin-right: 20px;
}
.mobile-nav-exit svg {
  fill: white;
}
.mobile-links {
  display: flex;
  flex-direction: column;
}
.links-container {
  width: fit-content;
  font-size: 50px;
  margin-left: 20px;
  overflow: hidden;
  margin: 10px 0 10px 10px;
}
.links-container a {
  color: white;
}
.nav-border-expand {
  border: 1px solid white;
  margin-top: 10px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}
.links-container:hover .nav-border-expand {
  transform: translateX(0);
}
.show {
  opacity: 1;
  z-index: 10;
}

.scroll {
  position: fixed;
  z-index: 9;
  transition: top 0.3s;
  background-color: #f4f4f4;
  top: 0;
}
.first-line {
  transform: rotate(45deg) translate(100%, -30%);
  transition: all 0.4s linear 0s;
}
.sec-line {
  transform: rotate(-45deg) translate(-130%, 15%);
  transition: all 0.4s linear 0s;
}
.sec-line-transition {
  transform: rotate(-45deg) translate(-45%, 15%);
}
.first-line-transition {
  transform: rotate(45deg) translate(15%, -30%);
}
