.full-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  margin: 30px 0;
}

.case-text {
  margin: 100px 0;
  padding: 0 70px;
}
.case-text h2 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 50px;
}
.case-text p {
  font-size: 1.6rem;
  line-height: 2;
}

@media screen and (max-width: 900px) {
  .case-text {
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .case-text {
    padding: 0;
  }
  .case-text h2 {
    font-size: 11vw;
  }
  .case-text p {
    font-size: 6.5vw;
    line-height: 2;
  }
}
.overlap,
.overlap img {
  margin: 0;
}
.overlap {
  position: relative;
  margin-bottom: 45%;
}
.img-top {
  position: absolute;
  top: 67%;
}
