.contact-header {
  padding: 22% 0;
}
.staff-container {
  border-bottom: 1px solid #c7c7c7;
}
.staff-section {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
@media (max-width: 1024px) {
  .staff-container {
    padding-bottom: 100px;
  }
  .staff-section {
    flex-direction: column;
    margin: 10px 0;
  }
}
.staff {
  flex-basis: 50%;
}
@media (max-width: 1024px) {
  .staff {
    flex-direction: column;
    margin: 10px 0;
  }
}
.staff h2 {
  font-weight: normal;
  margin-bottom: 15px;
}
.staff p {
  font-size: 18px;
  margin: 8px 0;
}
.border-bottom {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: fit-content;
}

.form-section {
  margin: 100px 0;
}
.form-section h2 {
  font-weight: normal;
  margin-bottom: 15px;
}

.form-container {
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
}

label {
  display: flex;
  flex-basis: 47%;
  margin: 60px 0;
}
label div {
  white-space: nowrap;
}
input {
  width: 70%;
  margin-left: 20px;
  padding-bottom: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  font-size: 20px;
  outline: none;
}
.fx-relay-email-input-wrapper {
  width: 70% !important;
}
input:active,
input:hover,
textarea:active,
textarea:hover {
  outline: none;
}
input::placeholder {
  font-size: 20px;
  color: #c7c7c7;
}
@media (max-width: 1024px) {
  input {
    width: 100%;
  }
}
.textarea-label {
  flex-direction: column;
}
textarea {
  margin-top: 30px;
  padding: 50px;
  width: 100%;
  height: 300px;
  background-color: transparent;
  border: 1px solid #c7c7c7;
  font-size: 18px;
  outline: none;
}
textarea::placeholder {
  line-height: 2;
  font-size: 18px;
  color: #c7c7c7;
}
button {
  border: none;
}
.places-container {
  margin-bottom: 100px;
}
.places {
  padding: 100px 0;
}
.places div {
  flex-basis: 50%;
}
.places div:first-child {
  font-size: 80px;
}
.places div p {
  font-size: 20px;
  line-height: 1.5;
}
.border {
  border: 1px solid #c7c7c7;
  border-right: none;
  border-left: none;
}
.message-sent {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  width: 100%;
  max-width: 780px;
  z-index: 2;
}
.message-sent h2 {
  margin-bottom: 20px;
}
.text-close {
  position: absolute;
  right: 0;
  top: 0;
}
