.culture-header {
  padding: 265px 0;
}
.we-are {
  font-size: 4.5rem;
  line-height: 1.8;
  margin: 250px 0;
}
.making-section {
  position: relative;
}
.gif {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}
li:last-child .gif {
  left: 33%;
  transform: translateX(-50%);
}
.gif img {
  width: 600px;
}
li {
  margin: 40% 0;
}
li:first-child {
  margin-top: 20%;
}
.making-section div {
  flex-basis: 45%;
}
.making-section h2 {
  font-size: 7rem;
  color: #f49578;
  font-weight: normal;
}
.section-text h3 {
  font-size: 30px;
}
.section-text p {
  font-size: 16px;
  line-height: 2;
  margin-top: 15px;
}

.slider-container {
  position: relative;
  height: 80vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider-container::-webkit-scrollbar {
  display: none !important;
}

.slider-all-items {
  position: absolute;
  display: inline-flex;
}

.slider-item {
  width: calc(100vw - 0px);
  height: 80vh;
  cursor: grab;
  display: block;
}

.slider-item1 {
  background: red;
}

.slider-item2 {
  background-color: blue;
}

.slider-item3 {
  background-color: yellow;
}

.shifting {
  transition: all 0.5s ease;
}
