.culture-header {
  padding: 265px 0;
}
.we-are {
  font-size: 4.5rem;
  line-height: 1.8;
  margin: 250px 0;
}
.making-section {
  position: relative;
}
.gif {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}
li:last-child .gif {
  left: 33%;
  transform: translateX(-50%);
}
.gif img {
  width: 600px;
}
li {
  margin: 40% 0;
}
li:first-child {
  margin-top: 20%;
}
.making-section div {
  flex-basis: 45%;
}
.making-section h2 {
  font-size: 7rem;
  color: #f49578;
  font-weight: normal;
}
.section-text h3 {
  font-size: 30px;
}
.section-text p {
  font-size: 16px;
  line-height: 2;
  margin-top: 15px;
}

.slider-wrapper {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
}
.slider-container {
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  min-height: 70vh;
}

.slider-container::-webkit-scrollbar {
  display: none !important;
}

.slider-all-items {
  position: absolute;
}

.slider-item {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, 3rem);
  grid-template-rows: repeat(auto-fill, 3rem);
  grid-auto-columns: 3rem;
  grid-auto-rows: 3rem;
  grid-auto-flow: column;
  */
  display: flex;
}
.slider-item img {
  height: 600px;
}
.people {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  column-gap: 2rem;
  max-width: 1220px;
  margin-top: 150px;
}

@media (max-width: 1024px) {
  .people {
    margin-top: 20px;
    grid-template-columns: 100%;
    padding: 0 40px;
  }
}
.quote {
  margin-top: 30px;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.25s ease 0s;
  color: #ff9c7d;
  line-height: 1.7;
}
@media (max-width: 1024px) {
  .quote {
    display: none;
  }
}
.work-container:hover .quote {
  opacity: 1;
}

.partners {
  margin: 100px 0;
}
.partners p {
  padding-bottom: 80px;
}
.partner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.partner-container div {
  flex-basis: 45%;
  text-align: center;
  margin: 40px 0;
}
.partner-container div img {
  max-width: 400px;
}
