.work-sction > * {
  color: white;
}
.work {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  column-gap: 2rem;
  max-width: 1220px;
  margin-top: 150px;
  padding-bottom: 200px;
}
@media (max-width: 1024px) {
  .work {
    margin-top: 20px;
    grid-template-columns: 100%;
    padding: 0 40px;
  }
}

.work-container {
  margin: 60px 0;
}
.work-shape img,
.lazyload {
  width: 100%;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1s;
}
.work-video {
  pointer-events: none;
  position: absolute;
  width: 80%;
  left: 30px;
  top: 0;
  opacity: 0;
  transition: transform 0.6s;
  transition: opacity 0.8s;
  height: 100%;
}
.work-shape {
  pointer-events: none;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 0 100%, 100% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 0 0, 0 100%, 100% 100%, 100% 100%);
  transition: clip-path 0.6s;
}
.slide {
  transform: translateY(100%);
  transition: transform 1s linear;
}
.active {
  transform: translateY(0);
}

.work-shape-wrapper {
  overflow: hidden;
  margin: 30px 0;
}
.work-shape-wrapper:hover .work-shape {
  -webkit-clip-path: polygon(
    85% 5%,
    30% 5%,
    10% 25%,
    10% 95%,
    70% 95%,
    85% 75%
  );
  clip-path: polygon(85% 5%, 30% 5%, 10% 25%, 10% 95%, 70% 95%, 85% 75%);
}
.work-shape-wrapper:hover {
  transform: scale(1);
}
.work-shape-wrapper:hover img {
  transform: scale(1);
}
.work-shape-wrapper:hover video {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
.archive-btn {
  margin: 200px 0;
  grid-column-start: 2;
  grid-column-end: span 2;
}
.btn-link {
  width: 50%;
  margin: 0 auto;
}
.work-footer {
  padding-top: 100px;
  border-top: 1px solid #c7c7c7;
}

@media (max-width: 1024px) {
  .archive-btn {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .archive-div {
    width: 90%;
    margin: 0 auto;
  }
}
a {
  color: black;
}
.black-bg {
  background-color: black;
}
.white-bg {
  background-color: white;
}
.grey-bg {
  background-color: #cccccc;
}
